<div>
	<h3>Reservar el vuelo # {{vueloSeleccionado.id}}</h3>

	<form #formReservarVuelo="ngForm" (ngSubmit)="reservarVuelo()">

		<table style="width:100%">
		  <tr>
		    <th>NumeroVuelo</th>
		    <th>Aerolinea</th> 
		    <th>Origen</th>
		    <th>Destino</th>
		    <th>FechaVuelo</th>
		    <th>Valor</th>
		  </tr>
		  <tr>
		    <td>{{vueloSeleccionado.id}}</td>
		    <td>{{vueloSeleccionado.aerolinea}}</td> 
		    <td>{{vueloSeleccionado.origen}}</td>
		    <td>{{vueloSeleccionado.destino}}</td>
		    <td>{{vueloSeleccionado.fecha}}</td>
		    <td>{{vueloSeleccionado.valor}}</td>
		  </tr>
		</table>

		<p>
			<label>Cedula:</label>
			<input type="text" name="cedula" #cedula="ngModel" [(ngModel)]="usuario.cedula" required pattern="[0-9]+">
			<span *ngIf="cedula.touched && !cedula.valid">
				La cedula es incorrecto!!
			</span>
		</p>

		<p>
			<label>Nombre:</label>
			<input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required>
			<span *ngIf="nombre.touched && !nombre.valid">
				El nombre es incorrecto!!
			</span>
		</p>

		<p>
			<label>Apellido:</label>
			<input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.apellido" required>
			<span *ngIf="apellido.touched && !apellido.valid">
				El apellido es incorrecto!!
			</span>
		</p>

		<p>
			<label>Fecha de nacimiento:</label>
			<input type="text" name="fechaNacimiento" #fechaNacimiento="ngModel" [(ngModel)]="usuario.fechaNacimiento" required pattern="[0-9-]+">
			<span *ngIf="fechaNacimiento.touched && !fechaNacimiento.valid">
				La fecha de nacimiento es incorrecto!!
			</span>
		</p>

		<p>
			<label>Telefono:</label>
			<input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="usuario.telefono" required pattern="[0-9]+">
			<span *ngIf="telefono.touched && !telefono.valid">
				El telefono es incorrecto!!
			</span>
		</p>

		<input type="submit" value="Reservar" [disabled]="!formReservarVuelo.form.valid">
	</form>
</div>