<br/>
<br/>
<br/>

<div align="center">
	<h3>Ingrese el número de cedula</h3>

	<form #formConsultarReservaById="ngForm" (ngSubmit)="consultarReservaByCedula()" >

		<p>
			<label>Cedula:</label>
			<input type="text" name="cedulaName" #cedulaName="ngModel" [(ngModel)]="cedula" required pattern="[0-9]+">
			<small *ngIf="cedulaName.touched && !cedulaName.valid" id="emailHelp" class="form-text text-muted">La cedula es incorrecto!!</small>
		</p>

		<input type="submit" value="Consultar" class="btn btn-secondary" [disabled]="!formConsultarReservaById.form.valid">
	</form>
</div>
<br/>
<br/>

<div align="center" class="listado" *ngIf="mostrarReservas">
	<h3>Listado de vuelos</h3>

	<table class="table" *ngIf="reservas">
	  <tr>
	    <th>NumeroReserva</th>
	    <th>FechaReserva</th> 
	    <th>NumeroVuelo</th>
	    <th>Aerolinea</th>
	    <th>Origen</th>
	    <th>Destino</th>
	    <th>FechaVuelo</th>
	    <th>Valor</th>
	    <th>Cedula</th>
	    <th>Nombre</th>
	    <th>Apellido</th>
	    <th>Telefono</th>
	  </tr>
	  <tr *ngFor="let reserva of reservas">
	    <td>{{reserva.id}}</td>
	    <td>{{reserva.fechaReserva}}</td> 
	    <td>{{reserva.vuelo.id}}</td>
	    <td>{{reserva.vuelo.aerolinea}}</td>
	    <td>{{reserva.vuelo.origen}}</td>
	    <td>{{reserva.vuelo.destino}}</td>
	    <td>{{reserva.vuelo.fecha}}</td>
	    <td>{{reserva.vuelo.valor}}</td>
	    <td>{{reserva.usuario.cedula}}</td>
	    <td>{{reserva.usuario.nombre}}</td>
	    <td>{{reserva.usuario.apellido}}</td>
	    <td>{{reserva.usuario.telefono}}</td>
	  </tr>
	</table>

	<span *ngIf="!reservas">Cargando listado...</span>
</div>
