<div class="container" *ngIf="!esReserva">

	<!-- <table class="table table-dark" *ngIf="vuelos">
	  <tr>
	    <th>NumeroVuelo</th>
	    <th>Aerolinea</th> 
	    <th>Origen</th>
	    <th>Destino</th>
	    <th>FechaVuelo</th>
	    <th>Valor</th>
	    <th></th>
	  </tr>
	  <tr *ngFor="let vuelo of vuelos">
	    <td>{{vuelo.id}}</td>
	    <td>{{vuelo.aerolinea}}</td> 
	    <td>{{vuelo.origen}}</td>
	    <td>{{vuelo.destino}}</td>
	    <td>{{vuelo.fecha}}</td>
	    <td>{{vuelo.valor}}</td>
	    <td><button (click)="reservarVuelo(vuelo)" class="btn btn-success"> Reservar</button></td>
	  </tr>
	</table> -->

	<div class="container">
		<div class="row">
			<div *ngFor="let vuelo of vuelos" class="card" style="width: 18rem;" >
				<div class="card-body">
				<h5 class="card-title">{{vuelo.aerolinea}}</h5>
				<p class="card-text">{{vuelo.origen}} - {{vuelo.destino}}</p>
				<p class="card-text">{{vuelo.fecha}} - {{vuelo.valor}}</p>
				<button (click)="reservarVuelo(vuelo)" class="btn btn-primary"> Reservar</button>
				</div>
			</div>
		</div>
	</div> 

	<div class="container">
  <div class="row">
	<div *ngFor="let vuelo of vuelos" class="card col-sm" style="width: 18rem;" >
		<div class="card-body">
		<h5 class="card-title">{{vuelo.aerolinea}}</h5>
		<p class="card-text">{{vuelo.origen}} - {{vuelo.destino}}</p>
		<p class="card-text">{{vuelo.fecha}} - {{vuelo.valor}}</p>
		<button (click)="reservarVuelo(vuelo)" class="btn btn-primary"> Reservar</button>
		</div>
	</div>
  </div>
</div> 

	<span *ngIf="!vuelos">Cargando listado...</span>
</div>

<div *ngIf="esReserva">
	<reservas [vueloSeleccionado]="vuelo"></reservas>
</div>